* {
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img {
  display: block;
}
body, html {
    background: white;
    height: 100%;
    width: 100%;
}
#header {
	width: 100%;
	height: 24px;
}
#wrapper {
	text-align: center;
	display: block;
}
#logo {
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
}
#wrapper img {
	width: 200px;
	margin: 0 auto;
	margin-top: 40px;
}
#wrapper p {
	margin: 20px 0 20px 0;
	color: #289008;
}
#register-device {
	width: 96%;
	border-radius: 4px;
	margin: 0 auto 25px auto;
	padding: 15px 0 15px 0;
	background: #289008;
	text-align: center;
	color: white;
}
#button-2 {
	width: 96%;
	border-radius: 4px;
	margin: 0 auto 25px auto;
	padding: 15px 0 15px 0;
	background: #289008;
	text-align: center;
	color: white;
}
#register-device2 {
	width: 96%;
	border-radius: 4px;
	margin: 0 auto 25px auto;
	padding: 15px 0 15px 0;
	background: #289008;
	text-align: center;
	color: white;
}
p#annotation {
	color: #808080;
	text-decoration: underline;
	font-weight: 600;
}
#login-form {
	display: none;
	padding-top: 30px;
}
#register-form {
	display: none;
	padding-top: 30px;
}
#sbol-login {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 24px;
	display: block;
	text-align: center;
	font-size: 18pt;
	background: none;
	border: none;
	border-bottom: 2px solid #e3eae3;
	padding: 0 0 10px 0;
}
#sbol-login::-webkit-input-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
#sbol-login::-moz-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
#sbol-password {
	width: 70%;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 18pt;
	background: none;
	border: none;
	border-bottom: 2px solid #e3eae3;
	padding: 0 0 10px 0;
}
#sbol-password::-webkit-input-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
#sbol-password::-moz-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
#send-sbol {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 5%;
	font-size: 28pt;
	background: url(auth_arrow_active.png);
	background-size: contain;
	border: none;
	line-height: 28px;
}
#send-sbol:disabled {
	background: url(auth_arrow.png);
	background-size: contain;
}
#error2 {
	display: none;
	width: 70%;
	margin: 10% auto 10% auto;
	text-align: center;
	color: black;
}
#error2 p {
	font-size: 10pt;
}
#mobbank {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
	background: url(bg.png);
}
#mobbank p {
	display: block;
	position: relative;
	top: 25%;
	width: 96%;
	margin: 0 auto;
	background: white;
	color: black;
	border-radius: 5px;
	padding: 5%;
}
#getinfo {
	text-align: center;
	margin-top: 24px;
}
#getinfo p {
	display: inline-block;
	font-size: 11pt;
	color: #799575;
	margin-bottom: 28px;
}
#getinfo img {
	width: 33px;
	height: 33px;
	margin: 0 auto;
}
#info {
	display: none;
	width: 100%;
	min-height: 100%;
	height: auto;
	position: absolute;
	left: 0; top: 0;
	background: #edeee8;
	text-align: center;
}
#info p {
	color: #bebebe;
	margin-top: 36px;
	font-size: 16pt;
	padding: 0 24px 0 24px;
}
#info img {
	display: inline-block;
	width: 25%;
	margin: 0 auto;
}
#sitesbol {
	margin-top: 16px;
	border-bottom: 1px solid #bebebe;
	padding-bottom: 12px;
}
#sitesbol p {
	margin: 12px 0 0 0;
	color: #ee9437;
}
#phonesbol {
	margin-top: 16px;
	border-bottom: 1px solid #bebebe;
	padding-bottom: 12px;
}
#phonesbol p {
	margin: 12px 0 0 0;
	color: #1f9a13;
}
#atmsbol {
	margin-top: 16px;
}
#atmsbol p {
	margin: 12px 0 0 0;
	color: #89939c;
}


#myformsbol2 input {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 24px;
	display: block;
	text-align: center;
	font-size: 18pt;
	background: none;
	border: none;
	border-bottom: 2px solid #e3eae3;
	padding: 0 0 10px 0;
}
#myformsbol2 input::-webkit-input-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
#myformsbol2 input::-moz-placeholder {
	color: #8c908c;
	font-size: 12pt;
}
.error-up {
	display: none;
	text-align: center;
	color: red;
	padding-bottom: 16px;
}

