body, input {
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: 16px;
}

body, html {
  background: none;
}

.first {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

input {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

input {
  background: transparent;
  position: relative;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 8px 6px;
  background: bottom left -moz-linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center -moz-linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right -moz-linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background: bottom left -webkit-linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center -webkit-linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right -webkit-linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}
input[disabled], input.disabled {
  color: #a9a9a9;
  background: bottom left -moz-linear-gradient(#cecece, #cecece) no-repeat, bottom center -moz-linear-gradient(#cecece, #cecece) repeat-x, bottom right -moz-linear-gradient(#cecece, #cecece) no-repeat;
  background: bottom left -webkit-linear-gradient(#cecece, #cecece) no-repeat, bottom center -webkit-linear-gradient(#cecece, #cecece) repeat-x, bottom right -webkit-linear-gradient(#cecece, #cecece) no-repeat;
  background: bottom left linear-gradient(#cecece, #cecece) no-repeat, bottom center linear-gradient(#cecece, #cecece) repeat-x, bottom right linear-gradient(#cecece, #cecece) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}
input:focus {
  background: bottom left -moz-linear-gradient(#0099cc, #0099cc) no-repeat, bottom center -moz-linear-gradient(#0099cc, #0099cc) repeat-x, bottom right -moz-linear-gradient(#0099cc, #0099cc) no-repeat;
  background: bottom left -webkit-linear-gradient(#0099cc, #0099cc) no-repeat, bottom center -webkit-linear-gradient(#0099cc, #0099cc) repeat-x, bottom right -webkit-linear-gradient(#0099cc, #0099cc) no-repeat;
  background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}
.cardnumber {
    width: 80%;
    margin: 25px 10% 15px 10%;
}
.typeinfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10% 0 10%;
   }
.cards {
    padding: 0 0 0 10%;
}
#cardsresult {
	display: inline-block;
	margin-top: 8px;
	margin-left: 14px;
	position: absolute;
}
#month, #year {
    width: 48px;
    float: left;
}
#month {
    margin-right: 16px;
}
#year {
    margin-left: 16px;
    margin-right: 0;
}
#cvc {
    width: 64px;
    margin-left: 0px;
    margin-right: 10%;
    float: right;
}
#second:after {
    content:'';
    display:block;
    clear: both;
}
.footer {
	margin: 35px 0 15px 10%;
}
#googleplay {
	width: 40%;
	max-width: 128px;
}
.save {
    position: absolute;
    right: 15%;
    padding: 0 5% 0 5%;
    height: 32px;
    border: none;
    border-radius: 3px;
    background: green;
    color: white;
    font-weight: bold;
}
.save:disabled {
    background: #6abc52;
    color: #ececec;
}
.play-contained {
    margin: 5% 10% 0 10%;
}